<header>
  <nav class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">

      <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Главная</a> </li>
      <li class="nav-item"><a class="nav-link {% if request.path == '/track' %}active{% endif %}"
                              href="/track">Треки + фильтр (запрос 1)</a></li>
      <li class="nav-item"><a class="nav-link {% if request.path == '/track_query_2' %}active{% endif %}"
                              href="/track_query_2">Цена трека в разных валютах (запрос 2)</a></li>
      <li class="nav-item"><a class="nav-link {% if request.path == '/artist_query_3' %}active{% endif %}"
                              href="/artist_query_3">Автор и его треки(запрос 3)</a></li>
      <li class="nav-item"><a class="nav-link {% if request.path == '/artist_query_4' %}active{% endif %}"
                              href="/artist_query_4">Артисты и треки. Жанр: рок (запрос 4)</a></li>
      <li class="nav-item"><a class="nav-link {% if request.path == '/artist_query_5' %}active{% endif %}"
                              href="/artist_query_5">Артисты и треки. Вложенный вопрос (запрос 5)</a></li>
    </ul>
  </nav>
</header>
